
/* Adjust the border radius of the context menus and panels here */
panel, menupopup {
    --arrowpanel-menuitem-border-radius: 4px !important;
    --panel-border-radius: 8px !important;
}

richlistbox {
    border-radius: var(--panel-border-radius);
}

#context-navigation > menuitem,
menupopup:not(.in-menulist) > menuitem,
menupopup > menu {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

@media (-moz-bool-pref: "tweak.context-menu.hide-access-key") {
  :where(menuitem, menu) > :is(.menu-text, .menu-iconic-text)[value]:not([value=""]) {
    &::before {
      /* The default value is -moz-label-content, which takes the data from the
       * value attribute and highlights the character found in the accesskey
       * attribute. This skips that and uses the value attribute directly. */
      content: attr(value) !important;
    }
}

/* THEMING */
menupopup:not(.in-menulist) {
    --panel-background: var(--arrowpanel-background) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

panel, menupopup {
    --panel-item-hover-bgcolor: var(--toolbarbutton-hover-background) !important;
    --panel-item-active-bgcolor: var(--toolbarbutton-active-background) !important;
}

#context-navigation > menuitem[_moz-menuactive],
#main-window menupopup:not(.in-menulist) > menuitem[_moz-menuactive],
#main-window menupopup > menu[_moz-menuactive] {
    background-color: var(--panel-item-hover-bgcolor) !important;
}

#context-navigation menuitem[_moz-menuactive][disabled],
#main-window menupopup > menuitem[_moz-menuactive][disabled] {
    background-color: color-mix(in srgb, var(--panel-item-hover-bgcolor) 50%, transparent) !important;
}
