/* Main files */
@import url("icons/icons.css");
@import url("toolbar/tabbar.css");
@import url("toolbar/navbar.css");
@import url("toolbar/personalbar.css");
@import url("toolbar/findbar.css");
@import url("toolbar/urlbar.css");
@import url("global/colors.css");
@import url("global/popup.css");
@import url("global/browser.css");
@import url("global/tree.css");
/* MacOS */
@import url("macos/mac-translucent.css") (-moz-bool-pref: "uc.tweak.mac-translucent");
@import url("macos/translucent-arc.css");   /* To be consolodated */
@import url("macos/translucent-base.css");  /* To be consolodated */
/* Sidebery */
@import url("sidebery/sidebery.css") (-moz-bool-pref: "uc.tweak.theme.sidebery");
/* Tweaks */
@import url("global/tweaks.css");
@import url("tweaks/icons");
@import url("tweaks/sidebar.css");
@import url("content/autohide-sidebar.css");
@import url("content/common.css");
/* Custom Content */
@import url("custom.css");

:root {
  --toolbar-transition: all 0.2s ease-in-out !important;
}

/* MacOS Font Smoothing */
@supports (-moz-osx-font-smoothing: grayscale) {
  .titlebar-buttonbox-container {
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .titlebar-buttonbox {
    align-items: center !important;
  }
  .titlebar-button {
    height: 100% !important;
  }
}

/* === titlebar === */

/* change bookmark star button to yellow_ when starred */
#star-button[starred=true] {
  fill: #f7e617 !important;
  stroke: #000 !important;
  stroke-width: 2px !important;
  filter: drop-shadow(0px 0px 0.5px #000) !important;
}

/* make extensions buttons reach the entire height of navbar */
#nav-bar-customization-target toolbarbutton {
  height: 100% !important;
}

/* move the window control buttons to the same row as urlbar */
#main-window[titlepreface="​"] #navigator-toolbox {
  display: grid !important;
  grid-template-rows: repeat(4, auto);
}
#PersonalToolbar:not([collapsed="true"]) {
  padding-bottom: calc(var(--tweak-top-bottom-browser-margin) / 2) !important;
}
@media (-moz-bool-pref: "tweak.native-vertical-tabs") {
  #PersonalToolbar {
    grid-area: 4 / 1 / 5 / 3 !important;
  }
}
@media not (-moz-bool-pref: "tweak.native-vertical-tabs") {
  #main-window[titlepreface="​"] #PersonalToolbar {
    grid-area: 4 / 1 / 5 / 3 !important;
  }
}
@media (-moz-bool-pref: "tweak.native-vertical-tabs") {
  #toolbar-menubar {
    grid-area: 1 / 1 / 2 / 3 !important;
  }
}
@media not (-moz-bool-pref: "tweak.native-vertical-tabs") {
  #main-window[titlepreface="​"] #toolbar-menubar {
    grid-area: 1 / 1 / 2 / 3 !important;
  }
}
@media not (-moz-bool-pref: "tweak.reverse-winctr-buttons-side") {
  #navigator-toolbox {
    grid-template-columns: 1fr auto !important;
  }

  @media (-moz-bool-pref: "tweak.native-vertical-tabs") {
    #nav-bar {
      grid-area: 3 / 1 / 4 / 2 !important;
    }
  }
  #main-window[titlepreface="​"] #nav-bar {
    grid-area: 3 / 1 / 4 / 2 !important;
  }

  @media (-moz-bool-pref: "tweak.native-vertical-tabs") {
    #TabsToolbar {
      grid-area: 3 / 2 / 4 / 3 !important;
    }
  }
  #main-window[titlepreface="​"] #TabsToolbar {
    grid-area: 3 / 2 / 4 / 3 !important;
  }
}
@media (-moz-bool-pref: "tweak.reverse-winctr-buttons-side") {
  #navigator-toolbox {
    grid-template-columns: auto 1fr !important;
  }

  @media (-moz-bool-pref: "tweak.native-vertical-tabs") {
    #nav-bar {
      grid-area: 3 / 2 / 4 / 3 !important;
    }
  }
  #main-window[titlepreface="​"] #nav-bar {
    grid-area: 3 / 2 / 4 / 3 !important;
  }

  @media (-moz-bool-pref: "tweak.native-vertical-tabs") {
    #TabsToolbar {
      grid-area: 3 / 1 / 4 / 2 !important;
    }
  }
  #main-window[titlepreface="​"] #TabsToolbar {
    grid-area: 3 / 1 / 4 / 2 !important;
  }

  @supports (not (-moz-osx-font-smoothing: grayscale)) {
    #TabsToolbar {
      flex-direction: row-reverse !important;
    }
  }
}

/*! === urlbar === */

/*? rounded urlbar and box */
:root[chromehidden*="menubar toolbar directories extrachrome"] #urlbar-background { 
  background: rgba(0, 0, 0, 0) !important;
  border: 0 !important;
}
:root:not([chromehidden*="menubar toolbar directories extrachrome"]) #urlbar-background { 
  background: var(--toolbar-field-background-color) !important;
  border: 1px solid var(--toolbar-field-border-color) !important;
}
#urlbar-background {
  border-radius: var(--tweak-urlbar-rounding) !important;
  transition: all 0.1s linear !important;
}

/*? rounded buttons inside urlbar (firefox logo on about pages, padlock, trans, etc.) */
#identity-box > box, #tracking-protection-icon-container, #page-action-buttons > *, #urlbar-revert-button-container, #urlbar-searchmode-switcher {
  border-radius: var(--tweak-urlbar-rounding) !important;
}

/*? needed for popup transition to work */
#urlbar {
  margin-top: 0 !important;
}

/*? make the background of extended urlbar move down and BROKEN drop a blur behind */
@media not (-moz-bool-pref:--tweak.disable-popover-urlbar") {
  #urlbar[breakout-extend] {
    position: fixed !important;
    margin-top: 12vh !important;
    /* backdrop-filter: blur(8px) !important; */
    background: rgba(0, 0, 0, 0) !important;
    /* border-radius: 20px; */
  }  
}

@media not (-moz-bool-pref:--tweak.disable-popover-transition") {
  #urlbar[breakout-extend] {
    transition: margin-top 0.45s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  #urlbar {
  transition: margin-top 0.45s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }
}

#urlbar[breakout-extend] {
  z-index: 9999 !important;
  left: 10% !important;
  width: calc(100vw - 20%) !important;
}

@media not (-moz-bool-pref:--tweak.disable-urlbar-background-transition") {
  #urlbar[breakout-extend] #urlbar-background {
    transition: all 0.1s linear !important;
  }
}

@media (-moz-bool-pref:--tweak.disable-urlbar-background-transition") {
  #urlbar[breakout-extend] #urlbar-background {
    transition: none !important;
  }
}

#urlbar[breakout-extend] #urlbar-background {
  background: var(--toolbar-field-focus-background-color) !important;
}

/*? urlbox backdrop */
#urlbar[breakout-extend]::before{
  content: '' !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  pointer-events: none !important;
  overflow: hidden !important;
  top: 0 !important;
  left: 0 !important;
  background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 65%, rgba(0, 0, 0, 0)) !important;
}

/*? urlbar bigger text */
#urlbar[breakout-extend] #urlbar-input {
  font-size: 1.4rem !important;
}

/*? taller urlbar for bigger text when extended */
#urlbar[breakout-extend] .urlbar-input-container {
  height: 48px !important;
}

@media (max-width: 600px) {
  #urlbar[breakout-extend] #urlbar-input {
    font-size: 1.25rem !important;
  }
}

/*? centered text when urlbar not in use */
#urlbar:not(:is([breakout-extend])) #urlbar-input {
  text-align: center !important;
}

/*? hide search one offs */
@media not (-moz-bool-pref:--tweak.show-search-one-offs") {
  .search-one-offs {
    display: none !important;
  }
}

/*? fix for floating urlbar */
@media (-moz-bool-pref:--tweak.nightly") { 
  #urlbar:not([breakout-extend]) {
    top: auto !important;
  }
}

/*? hide 1px line below urlbar */
.urlbarView-body-inner {
  border-top: none !important;
}

/*? hide border below top bar */
#navigator-toolbox {
  border: 0px !important;
}

/*? make rounded borders have nice color */
#browser {
  background: var(--toolbar-bgcolor) !important;
}

/*? if popup window, make urlbar smaller and centered */
#main-window[chromehidden*="toolbar"] #urlbar-container {
  max-width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/*? bigger rounding for navbar buttons */
#nav-bar {
  toolbarbutton {
    & > stack, & > image {
      border-radius: 8px !important;
    }
  }
}

/*? make the go button bigger in urlbar */
.urlbar-go-button {
  height: 100% !important;
  width: auto !important;
  padding: 1.5% !important;
  border-radius: var(--tweak-urlbar-inner-rounding) !important;
}


/*? rounded results */
.urlbarView-row {
  border-radius: var(--tweak-urlbar-inner-rounding) !important;
}
/*? for some reason the results get clipped so adding some padding */
.urlbarView {
  padding: 0 5px !important;
}

.urlbarView-row:hover {
  background: var(--urlbar-box-hover-bgcolor) !important;
}

/*? small separator between results and search bar */
/* .urlbarView-body-outer {
  border-top: 1px rgba(0, 0, 0, 0.15) solid !important;
} */
.urlbarView-body-outer::before {
  content: '';
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background: #aaa;
  opacity: 0.2;
  display: block;
  mix-blend-mode: difference;
}
.urlbarView-body-inner {
  border: 0 !important;
}

/*? increase padding in urlbar */
#urlbar-results {
  padding-bottom: 8px !important;
}

/*! === findbar === */

findbar {
  border: 0 !important;
  /*? relative for margins */
  position: relative !important;
  border-radius: 12px !important;
  bottom: 60px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 40rem !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
  /*? fix for relative positioning */
  margin-top: -3rem !important;
  border: 0 !important;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  overflow-x: visible !important;
  box-shadow: 0 0 0px 1px var(--lwt-accent-color) !important;
}

findbar[hidden]{
  margin-bottom: 0 !important;
  opacity: 0 !important;
  background: rgba(0, 0, 0, 0) !important;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

findbar:not([hidden]) {
  opacity: 1 !important;
  background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
.findbar-container, .findbar-container > hbox {
  height: 100% !important;
}

.findbar-container {
  margin-left: 7px !important;
}

/*? change text to icons for smaller findbar */
.findbar-container checkbox::after {
  height: 16px;
  font-size: 14px;
  background-size: cover;
  display: flex;
  align-items: center;
  -moz-context-properties: fill;
  fill: currentColor;
  color: inherit;
}
.findbar-highlight::after {
  content: '';
  background: url(./assets/icons/hl.svg) no-repeat;
  width: 18px;
  background-position-y: -1px;
}
.findbar-match-diacritics::after {
  content: 'ąâ';
  font-weight: 600;
}
.findbar-entire-word::after {
  content: '';
  background: url(./assets/icons/word.svg) no-repeat;
  width: 20px;
  background-position-y: -2px;
}
.findbar-case-sensitive::after {
  content: 'Aa';
  font-weight: 600;
}

/*? hide all text for findbar checkboxes */
.findbar-container checkbox > .checkbox-label-box {
  display: none !important;
}

.findbar-textbox {
  border-radius: 8px !important;
  font-family: monospace !important;
  padding: 5px 8px !important;
  width: 12rem !important;
}

.findbar-closebutton:hover {
  opacity: 1 !important;
  background: var(--toolbarbutton-hover-background) !important;
}
.findbar-closebutton {
  opacity: 1 !important;
  /* background: var(--lwt-accent-color) !important; */
  /* wasn't square for some reason */
  width: auto !important;
}
.findbar-closebutton image {
  width: 16px;
  height: 16px;
  padding: 2px;
}

/*? move matched amount below main findbar */
.found-matches {
  position: absolute !important;
  padding: 1.8rem 0.7rem 0.2rem 0.6rem !important;
  top: 14px !important;
  background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
  /* border: solid var(--arrowpanel-border-color) 1px !important; */
  left: -12px !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  z-index: 9 !important;
  box-shadow: 0 0 0px 1px var(--lwt-accent-color);
  clip-path: inset(0 -10px -5px -5px);
}
.findbar-find-status {
  display: none !important;
}
.found-matches::before {
  z-index: 8 !important;
}
.found-matches::after {
  position: absolute;
  display: block;
  content: '';
  width: 1rem;
  height: 1.5rem;
  background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
  right: -0.5rem;
  top: 0.8rem;
  transform: rotate(45deg);
  box-shadow: 0 0 0px 1px var(--lwt-accent-color);
  clip-path: inset(0 -0.3rem 0 0);
}
.findbar-textbox { 
  z-index: 10 !important;
}

/*! === tabs === */

/*? tab on titlebar that's not pinned */
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[fadein]:not([pinned]) {
  /*? min tab width */
  min-width: var(--tweak-tab-min-width) !important;
  /*? max tab width */
  max-width: var(--tweak-tab-max-width) !important;
}

/*! === menus === */

/*? consistent color for context menus */
.menupopup-arrowscrollbox, #searchmode-switcher-popup slot[part="content"] {
  background: var(--lwt-accent-color, var(--panel-background)) !important;
  border-radius: var(--arrowpanel-border-radius) !important;
  border: 0 !important;
  outline: solid 1px var(--lwt-tab-line-color) !important;
}

*? fading backgrounds on buttons */
menuitem, toolbarbutton > stack, toolbaritem, toolbarbutton, toolbarbutton > image, .urlbarView-row, menu,
menuitem:hover, toolbarbutton:hover > stack, toolbaritem:hover, toolbarbutton:hover, toolbarbutton:hover > image, .urlbarView-row:hover, menu:hover,
.findbar-closebutton, .findbar-closebutton:hover
{
  transition: var(--tweak-btn-anim) !important;
}

/* context menu padding  */
#context-navigation menuitem {
  padding: 2px !important;
}

/*! === compact, macos-like winctr buttons === */
@media not (-moz-bool-pref:--tweak.disable-compact-winctr-buttons") {
  #toolbar-menubar .titlebar-buttonbox > toolbarbutton {
    &:hover > image {
      padding: 2px 0 !important;
    }
  }

  #TabsToolbar .titlebar-buttonbox > toolbarbutton {
    &:hover > image {
      padding: 4px 0 !important;
    }
  }

  .titlebar-buttonbox > toolbarbutton {
    background: rgba(0, 0, 0, 0) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  
    & > image {
      width: 14px !important;
      height: 14px !important;
      border-radius: 12px !important;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      list-style-image: none !important;
      box-sizing: content-box !important;
      padding: 0px !important;
      background: var(--toolbarbutton-hover-background) !important;
    }
  
    &:hover > image {
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    }
  }
  .titlebar-close {
    /* background: hsl(355, 86%, 49%) url(chrome://browser/skin/window-controls/close.svg) no-repeat center !important; */
    &:hover > image {
      background: #fc5753 !important;
    }
    padding-right: calc(var(--tweak-winctr-gap) + var(--tweak-winctr-margin)) !important;
    padding-left: var(--tweak-winctr-gap) !important;
  }
  .titlebar-min {
    &:hover > image {
      background: #fdbc40 !important;
    }
    padding-left: calc(var(--tweak-winctr-gap) + var(--tweak-winctr-margin)) !important;
    padding-right: var(--tweak-winctr-gap) !important;
  }
  .titlebar-max, .titlebar-restore {
    &:hover > image {
      background: #33c748 !important;
    }
    padding: 0 var(--tweak-winctr-gap) !important;
  }
  @media not (-moz-bool-pref:--tweak.reverse-winctr-buttons-side") {
    #main-window[titlepreface="​"] #toolbar-menubar:not([inactive]) #PanelUI-menu-button {
      padding-right: 0 !important;
    }
    @media (-moz-bool-pref:--tweak.native-vertical-tabs") {
      #toolbar-menubar:not([inactive]) #PanelUI-menu-button {
        padding-right: 0 !important;
      }
    }
  }


