/*---------- Urlbar ----------*/
#urlbar-container {
	width: max(320px, 28em) !important;
	padding: 0 !important;
}

#search-container {
	flex-grow: 100 !important;
	padding: 0 !important;
}

#searchbar,
#urlbar-background {
	background-color: var(--neptune-urlbar-background) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;
	box-shadow: none !important;
	transition: background-color .2s ease;

	@media (-moz-bool-pref: "sidebar.verticalTabs") {
		background: none !important;
		border: 1px solid var(--neptune-toolbar-border-color) !important;
	}
}

#urlbar {
	height: var(--urlbar-height) !important;
	width: var(--urlbar-width) !important;
	margin: 0 !important;
	font-size: 12.5px !important;

	> .urlbar-input-container {
		padding: 0 !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;

		@media (-moz-bool-pref: "sidebar.verticalTabs") {
			> .urlbar-input-box > .urlbar-input {
				text-align: center !important;

				#urlbar:is([focused], [open]) & {
					text-align: revert !important;
				}
			}
		}

		> #urlbar-search-mode-indicator {
			margin-inline: 0 !important;
			padding-inline: var(--urlbar-icon-padding) !important;
			font-size: 10.5px;
		}

		> #urlbar-searchmode-switcher {
			margin-inline: 0 !important;

			&[open] {
				background-color: var(--neptune-item-active-background) !important;
			}
		}

		> #searchmode-switcher-chicklet {
			margin-inline: 0 !important;
			font-size: 10.5px;

			> #searchmode-switcher-close {
				margin-inline: var(--urlbar-icon-padding) !important;
			}
		}
	}

	@media not (-moz-bool-pref: "sidebar.verticalTabs") {
		&:hover > #urlbar-background {
			background-color: var(--neptune-urlbar-hover-background) !important;
		}
	}

	&:is([focused], [open]) > #urlbar-background {
		background-color: var(--neptune-urlbar-focused-background) !important;

		@media (-moz-bool-pref: "sidebar.verticalTabs") {
			background-color: var(--neptune-verticaltab-background) !important;
		}
	}
}

.urlbarView {
	color-scheme: light dark;
	width: calc(100% + 16px) !important;
	margin: 5px 0 0 -8px !important;
	border: none !important;
	border-radius: calc(var(--border-radius-medium) + 2px);
	background-color: var(--theme-menupopup-background);
	color: MenuText;
	box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;

	> .urlbarView-body-outer > .urlbarView-body-inner {
		width: inherit !important;
		margin-inline: 0 !important;
		border: none !important;
	}
}

.urlbarView-results {
	padding: var(--urlbarView-item-block-padding) !important;

	> .urlbarView-row {
		border: var(--button-border) !important;

		> .urlbarView-row-inner {
			flex-wrap: nowrap !important;
			align-items: center !important;
			padding: 0 !important;

			> .urlbarView-no-wrap {
				flex-basis: revert !important;
			}

			.urlbarView-title {
				line-height: 1.28 !important;
			}

			:is(.urlbarView-overflowable, .urlbarView-url)[overflow] {
				mask-image: none !important;
				text-overflow: ellipsis;
			}

			> .urlbarView-action-btn {
				padding-block: 2px !important;
				border: none !important;
				outline: none !important;
				color: var(--button-text-color-primary);
			}
		}

		&[has-url]:not([type$=tab]) > .urlbarView-row-inner > .urlbarView-no-wrap {
			max-width: calc(70% - 2 * (var(--urlbarView-favicon-width) + (6px + 2px))) !important;
		}

		&[has-url] > .urlbarView-row-inner > .urlbarView-url {
			margin-inline: revert !important;
			line-height: 1.333 !important;
		}

		&[has-url]:not([type$=tab], [sponsored], [restyled-search]) .urlbarView-title-separator {
			display: revert !important;
		}

		&[row-selectable]:not([selected]):hover {
			color: var(--urlbarView-highlight-color);

			.urlbarView-url {
				color: inherit !important;
			}
		}

		&:not([type=tip], [type=dynamic]) {
			:root:not([uidensity=compact]) & {
				min-height: 22px !important;
			}
		}

		&[type=tip] {
			padding-block: var(--urlbarView-item-block-padding) !important;

			> .urlbarView-row-inner {
				margin-inline-end: 0 !important;
			}

			> .urlbarView-button:not(:empty):not(.urlbarView-button-menu) {
				padding-block: var(--space-xsmall) !important;
				outline: none !important;
				border-radius: var(--border-radius-small) !important;
			}
		}

		&[rich-suggestion][type=search] {
			:root:not([uidensity=compact]) & {
				min-height: fit-content !important;
			}
		}

		.urlbarView-favicon {
			margin-inline-end: calc(var(--urlbarView-icon-margin-end) - var(--urlbarView-favicon-margin-start) - 1px) !important;
		}

		&[rich-suggestion] > .urlbarView-row-inner {
			> .urlbarView-favicon {
				width: 24px !important;
				height: 24px !important;
			}

			> .urlbarView-row-body > :is(.urlbarView-row-body-description, .urlbarView-row-body-bottom) {
				color: var(--urlbarView-highlight-color);
			}
		}

		&[dynamicType=onboardTabToSearch] > .urlbarView-row-inner {
			min-height: fit-content !important;

			> .urlbarView-no-wrap > .urlbarView-favicon {
				height: 16px !important;
				min-width: 16px !important;

				.urlbarView-row:hover & {
					color: var(--urlbarView-highlight-color) !important;
				}
			}
		}

		&[has-action]:is([type=switchtab], [type=remotetab], [type=clipboard]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
			padding: 1px 5px !important;
			margin-block: auto !important;
			border: none !important;
			background-image: none !important;
			background-color: var(--theme-primary-active-color) !important;
			color: var(--button-text-color-primary) !important;

			&.urlbarView-userContext {
				background-color: var(--identity-tab-color) !important;
			}
		}

		> .urlbarView-button:not(.urlbarView-row[type=tip] > .urlbarView-button) {
			background-color: transparent !important;
			min-width: 16px !important;
			min-height: 16px !important;

			.urlbarView-row:is([row-selectable]:hover, [selected]) > &:not(:hover, [open]) {
				color: var(--color-blue-05) !important;
			}

			&:is(:hover, [open]) {
				color: revert !important;
			}
		}
	}

	[label]::before {
		color: MenuText !important;
	}

	.urlbarView-title-separator::before {
		content: "\2013" !important;
	}

	.urlbarView[noresults] > .urlbarView-body-outer > .urlbarView-body-inner > & {
		padding: 0 !important;
	}
}

.search-one-offs {
	padding: var(--urlbar-icon-padding) !important;

	> .search-panel-header {
		min-height: var(--button-min-height) !important;

		> .search-panel-one-offs-header-label {
			padding-inline: var(--space-small) !important;
		}
	}

	.searchbar-engine-one-off-item {
		min-width: var(--button-min-height) !important;
		height: var(--button-min-height) !important;
		margin-inline: var(--urlbar-icon-padding) !important;

		&:is(:not([selected]):hover, [selected]) {
			background-color: var(--neptune-item-active-background) !important;
		}
	}
}

#identity-box:is([pageproxystate="valid"], [pageproxystate="invalid"]) > .identity-box-button,
#urlbar-label-box {
	padding-inline: var(--urlbar-icon-padding) !important;
}

@media not (-moz-bool-pref: "sidebar.verticalTabs") {
	#identity-permission-box,
	#notification-popup-box,
	#tracking-protection-icon-container {
		margin-inline-start: calc(-12px - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		opacity: 0;
		transition: .2s ease;

		&:is(.urlbar-input-container:hover &, [open]) {
			margin-inline-start: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	.urlbar-page-action:not(#reader-mode-button[readeractive], #picture-in-picture-button[pipactive], #translations-button[translationsactive]) {
		margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		transition: .2s ease;

		&:is(.urlbar-input-container:hover &, [open]) {
			margin-inline-end: 0;
			visibility: visible;
		}
	}
}

#identity-box {
	margin: 0 !important;
	fill-opacity: 0.6 !important;

	&[pageproxystate="valid"] > .identity-box-button {
		background: none !important;

		&:hover:not([open]) {
			fill-opacity: 0.8;
		}

		&:is(:hover:active, [open]) {
			fill-opacity: 1;
		}
	}
}

#notification-popup-box {
	background: none !important;
	height: auto !important;
	fill-opacity: 0.6 !important;

	> * {
		height: calc(var(--urlbar-min-height) - 2 * var(--urlbar-icon-padding));
	}

	&:hover {
		fill-opacity: 0.8 !important;
	}

	&:is(:hover:active, [open]) {
		fill-opacity: 1 !important;
	}
}

.urlbar-page-action,
.urlbar-revert-button,
.urlbar-go-button,
.search-go-button {
	background: none !important;
	height: auto !important;
	color: var(--neptune-button-field-color) !important;

	&:not([disabled]):hover {
		color: var(--neptune-button-field-hover-color) !important;
	}

	&:not([disabled]):is(:hover:active, [open]) {
		color: revert !important;
	}
}

#urlbar-zoom-button {
	margin-inline: 2px !important;
	padding-block: 2px !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#tracking-protection-icon-box,
#blocked-permissions-container > .blocked-permission-icon,
.urlbarView-action-btn > img,
#searchmode-switcher-icon,
#searchmode-switcher-popup-search-settings-icon,
.urlbar-input-container [id$="close"],
.searchbar-search-icon,
.searchbar-engine-one-off-item > .button-box > .button-icon {
	width: 12px !important;
	height: 12px !important;
}