/*---------- Popups ----------*/
menupopup,
panel {
	--panel-color: MenuText !important;
	--panel-padding-block: var(--panel-subview-body-padding-block) !important;
	--panel-border-radius: var(--arrowpanel-border-radius) !important;
	--panel-border-color: var(--neptune-toolbar-border-color) !important;
	--panel-separator-color: var(--neptune-popover-separator-color) !important;
	--arrowpanel-header-back-icon-padding: var(--arrowpanel-menuitem-margin-inline) !important;
	--arrowpanel-header-back-icon-full-width: calc(12px + 2 * var(--arrowpanel-header-back-icon-padding)) !important;
	--arrowpanel-header-min-height: calc(var(--arrowpanel-header-back-icon-full-width) + 2 * var(--panel-separator-margin-vertical)) !important;

	:root[lwtheme] & {
		color-scheme: light dark !important;
	}

	@media (-moz-platform: linux) or (-moz-platform: windows) {
		--panel-shadow-margin: 22px !important;
		--panel-shadow: var(--neptune-panel-shadow), 0 3px var(--panel-shadow-margin) var(--neptune-panel-shadow-color) !important;
	}

	select:where(:not([size], [multiple])) {
		margin: 0 !important;
	}

	toolbarseparator {
		margin-inline: calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
	}

	menulist {
		padding-block: 2px !important;
	}

	#searchmode-switcher-popup-search-settings-button.panel-subview-footer-button {
		margin-block: 0 !important;
	}

	&[type="autocomplete-richlistbox"] {
		--panel-background: var(--arrowpanel-background) !important;

		> .autocomplete-richlistbox {
			background-color: var(--neptune-menu-background) !important;

			> .autocomplete-richlistitem {
				&:not([disabled="true"]):not([selected]):hover {
					background-color: var(--color-accent-primary-hover) !important;
					color: var(--button-text-color-primary) !important;
				}

				&[selected] {
					background-color: var(--color-accent-primary-active) !important;
					color: var(--button-text-color-primary) !important;
				}

				> .ac-type-icon {
					min-height: 12px !important;
					min-width: 12px !important;
				}
			}
		}

		> menuseparator::before {
			display: none !important;
		}
	}

	.toolbarbutton-badge {
		background-color: var(--icon-color-warning) !important;
		line-height: 14px !important;
		border-radius: 50% !important;
	}
}

panelview .toolbarbutton-1,
toolbarbutton.subviewbutton:not(.all-tabs-close-button, .subviewbutton-back),
.widget-overflow-list .toolbarbutton-1,
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton {

	&:not([disabled]):hover {
		background-color: var(--color-accent-primary-hover) !important;
		color: var(--button-text-color-primary) !important;

		&:active {
			background-color: var(--color-accent-primary-active) !important;
		}
	}
}

@media not (-moz-platform: macos) {
	menupopup {
		--panel-background: var(--menupopup-background-color) !important;
		--content-select-background-image: none !important;

		> menu,
		> menuitem {
			padding-block: 2px !important;
			padding-inline-start: var(--arrowpanel-menuitem-padding-inline) !important;

			> .menu-right {
				margin-inline-end: var(--arrowpanel-menuitem-padding-inline) !important;
			}

			menupopup[needsgutter] &:not([checked="true"], [icon], .menu-iconic, .menuitem-iconic) {
				padding-inline-start: var(--space-xlarge) !important;
			}

			&:where([_moz-menuactive]:not([disabled="true"])) {
				background-color: var(--color-accent-primary-hover) !important;
				color: var(--button-text-color-primary) !important;
			}

			&:where([_moz-menuactive="true"][disabled="true"]) {
				background: none !important;
			}
		}

		> menuitem[checked="true"] {
			padding-inline-start: 0 !important;

			#backForwardMenu & {
				padding-inline-start: var(--space-medium) !important;
			}

			> .menu-iconic-left {
				margin-inline-end: var(--space-xsmall) !important;
			}
		}

		> #context-navigation {
			 > menuitem:where([_moz-menuactive]:not([disabled="true"])) {
				background: none !important;
				color: var(--color-accent-primary-hover) !important;
			}

			> .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
				padding-block: var(--space-xsmall) !important;
			}
		}

		> menuseparator {
			padding: var(--panel-separator-margin) !important;
		}

		#ContentSelectDropdown > & > .ContentSelectDropdown-item-0 {
			font-size: 1rem !important;

			&:not([_moz-menuactive="true"]) {
				background-color: var(--theme-menupopup-background) !important;
				color: inherit !important;
			}
		}

		#ContentSelectDropdown > & > :is(menucaption, menuitem) > .menu-iconic-text {
			padding-block: 2px !important;
		}
	}

	arrowscrollbox.menupopup-arrowscrollbox {
		background-color: var(--theme-menupopup-background) !important;
	}
}

#confirmation-hint {
	--arrowpanel-background: var(--theme-primary-color) !important;
	--arrowpanel-border-color: var(--neptune-toolbar-border-color) !important;

	#confirmation-hint-checkmark-animation-container[animate] > #confirmation-hint-checkmark-image {
		fill: var(--button-text-color-primary) !important;
	}

	#confirmation-hint-message {
		color: var(--button-text-color-primary);
	}
}

#feature-callout {
	--arrow-offset: 0 !important;

	.screen[pos=callout] .section-main > .main-content {
		border-radius: var(--arrowpanel-border-radius) !important;
	}

	.screen[pos=callout] .action-buttons :is(.primary, .secondary) {
		padding-block: 0 !important;
		min-height: var(--button-min-height) !important;
	}
}

#sidebar-switcher-target > #sidebar-icon,
.identity-popup-security-connection-icon,
.subviewbutton-iconic > .toolbarbutton-icon,
.permission-popup-permission-icon,
.downloadButton > .button-box > .button-icon,
.menu-iconic-icon:not(#context-navigation .menu-iconic-icon),
.menu-right > image,
.pointerlockfswarning::before,
:is(#protections-popup-mainView, .widget-overflow-list, .PanelUI-subView) .subviewbutton-nav::after {
	width: 12px !important;
	height: 12px !important;
}

#appMenu-popup {
	#appMenu-fxa-status2:not([fxastatus]) > #appMenu-fxa-label2 {
		padding-block: 0 !important;
	}

	#fxa-menu-header-title {
		color: inherit !important;
	}

	.subviewbutton > :is(.toolbarbutton-icon, .toolbarbutton-text) {
		margin-block: auto !important;
	}

	.PanelUI-remotetabs-clientcontainer > label[itemtype="client"] {
		margin: 0 calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) var(--space-xsmall) !important;
	}
}

:is(#identity-popup, #permission-popup, #protections-popup) {
	font-size: 10.5px !important;
}

#protections-popup #protections-popup-show-report-stack {
	&:hover {
		> .protections-popup-footer-button {
			background-color: var(--color-accent-primary-hover) !important;
			color: var(--button-text-color-primary) !important;
		}

		#protections-popup-trackers-blocked-counter-description {
			color: var(--button-text-color-primary) !important;
		}
	}

	&:hover:active > .protections-popup-footer-button {
		background-color: var(--color-accent-primary-active) !important;
	}
}

.permission-popup-section {
	padding-bottom: var(--panel-subview-body-padding-block) !important;
}

.permission-popup-permission-item {
	min-height: var(--button-min-height) !important;
	margin-block: 0 !important;

	> :is(#permission-popup-menulist, .permission-popup-permission-remove-button) {
		padding-block: 2px !important;
	}

	.permission-popup-permission-state-label {
		margin-block: 0 !important;
	}
}

.toolbar-menupopup :is(menu, menuitem),
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
	min-height: var(--button-min-height) !important;
}

.footer-button {
	height: var(--button-min-height) !important;
	min-height: var(--button-min-height) !important;
	padding-block: 0 !important;
}

.expander-up,
.expander-down {
	min-height: var(--button-min-height) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;
}

#editBMPanel_folderTree {
	background-color: var(--neptune-input-bgcolor) !important;
	border: none !important;
}

#editBMPanel_newFolderButton {
	padding: var(--space-xsmall) var(--space-small) !important;
}

#full-page-translations-panel-error {
	border: none !important;
}

#select-translations-panel-text-area.translating {
	background-image: none !important;
	padding-inline-start: var(--space-medium) !important;
}

#downloadsPanel-mainView {
	min-width: calc(var(--menu-panel-width-wide) + var(--size-item-large)) !important;
	padding-block: var(--panel-subview-body-padding-block) !important;

	#downloadsListBox {
		width: var(--menu-panel-width-wide) !important;

		> richlistitem {
			background: none !important;
			margin: 0 !important;
			border-radius: 0 !important;

			&:not(:first-child) {
				border-top: 1px solid var(--neptune-popover-separator-color);
			}

			> .downloadMainArea {
				padding-block: var(--panel-subview-body-padding-block) !important;

				> .downloadTypeIcon {
					width: 28px !important;
					height: 28px !important;
				}
			}
		}

		.downloadButton {
			min-width: 24px !important;
			height: 24px !important;
			border: none !important;
			border-radius: 50% !important;
		}

		.downloadProgress {
			height: 3px !important;
			margin-inline: 0 !important;
		}
	}

	#emptyDownloads {
		padding-block: 1.5em !important;
	}
}

.notificationbox-stack {
	background: none !important;

	.infobar {
		background-color: var(--neptune-item-active-background) !important;
		border: none !important;
		box-shadow: none !important;

		&::before {
			background-image: none !important;
		}
	}
}

.container {
	padding-block: 0 !important;

	.text-container {
		flex: 1;
	}

	.close {
		scale: 0.6;
	}
}

#statuspanel-label {
	background-color: var(--neptune-content-background) !important;
	border: none !important;
}

@-moz-document url("chrome://browser/content/places/places.xhtml") {
	treecol, .tree-columnpicker-button {
		background-color: var(--neptune-item-background) !important;

		&:where(:hover) {
			background-color: var(--neptune-item-hover-background) !important;
		}

		&:where(:hover:active) {
			background-color: var(--neptune-item-active-background) !important;
		}
	}

	#placesToolbar > toolbarbutton {
		margin-inline: var(--space-xsmall) !important;
	}

	richlistbox {
		border: none !important;
	}

	#downloadsListBox {
		> richlistitem[selected="true"] {
			background-image: none !important;
			background-color: var(--color-accent-primary-active) !important;
			color: var(--button-text-color-primary) !important;
			border-radius: 0 !important;
			outline: none !important;
		}

		.downloadButton > .button-box {
			border-radius: 50% !important;
		}
	}
}

@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
	:root {
		background-color: transparent !important;
	}

	.player-holder {
		border-radius: var(--border-radius-large);
	}

	* {
		cursor: default !important;
	}

	#controls-bottom-gradient {
		background: #00000099 !important;
		height: calc(2 * var(--player-control-item-height) + var(--scrubber-vertical-margin)) !important;
		bottom: max(calc(3 * var(--controls-bottom-upper-height)), 15%) !important;
		margin-inline: 0 !important;
		border-radius: var(--border-radius-small);
		width: min(50%, 30em) !important;
		left: 50%;
		transform: translateX(-50%);

		@media (height <= 350px), @media (width <= 650px) {
			bottom: 25vmin !important;
		}

		@media (height <= 200px), (width <= 300px) {
			display: none;
		}
	}

	#controls-bottom {
		bottom: max(calc(3 * var(--controls-bottom-upper-height)), 15%) !important;
		width: min(50%, 30em) !important;
		left: 50%;
		transform: translateX(-50%);

		@media (height <= 350px), @media (width <= 650px) {
			bottom: 25vmin !important;
		}

		> .controls-bottom-upper {
			width: calc(100% - 24px) !important;
			margin: 6px 12px !important;
		}

		> .controls-bottom-lower {
			margin-inline: 12px 6px !important;
		}
	}

	.control-button:not(#unpip, #close) {
		width: 28px !important;
		height: 28px !important;
		background-color: unset !important;
	}

	.start-controls, .end-controls {
		grid-template-columns: auto !important;
		align-self: center;
		gap: unset !important;
	}

	#unpip, #close {
		height: 16px !important;
		width: 16px !important;
		left: 10px !important;
		border-radius: 50% !important;
	}

	#unpip {
		top: 36px !important;
	}

	#playpause {
		background-size: 28px !important;
	}

	#timestamp {
		width: auto !important;

		@media (width <= 600px) {
			display: none;
		}
	}

	#audio-scrubber {
		width: 48px !important;
		padding-inline-start: 0 !important;

		&::-moz-range-thumb {
			background-color: var(--button-text-color-primary) !important;
			width: 12px !important;
			height: 12px !important;
			border: none !important;
		}

		&::-moz-range-track,
		&::-moz-range-progress {
			height: 4px !important;
		}
	}

	#scrubber::-moz-range-thumb {
		background-color: var(--button-text-color-primary) !important;
		width: 4px !important;
		height: 18px !important;
		border: none !important;
	}

	.panel {
		bottom: calc(2 * var(--player-control-item-height) - var(--scrubber-vertical-margin)) !important;

		> .box {
			background-color: #00000080 !important;
			padding: 0 !important;
			font-size: 0.85em !important;

			> .grey-line {
				background: #ffffff33 !important;
			}

			> .panel-fieldset {
				margin-block: 0 !important;
			}
		}

		> .arrow {
			border-top-color: #00000080 !important;
		}
	}

	.slider {
		background-color: #cacaca80 !important;

		&::before {
			background-color: var(--button-text-color-primary) !important;
		}

		input:checked + & {
			background-color: var(--color-accent-primary-active) !important;
		}
	}

	.font-size-selection-radio > input[type="radio"] {
		border: 2px solid #cacaca80 !important;

		&:checked {
			border: none !important;
		}
	}

	#fullscreen {
		background-image: url("neptune/icons/picture-in-picture-enter-fullscreen-button.svg") !important;

		body:fullscreen & {
			background-image: url("neptune/icons/picture-in-picture-exit-fullscreen-button.svg") !important;
		}

		@media (width <= 650px) {
			display: none;
		}
	}

	#closed-caption {
		background-image: url("neptune/icons/closed-caption-settings-button.svg") !important;
	}

	#seekBackward {
		background-image: url("neptune/icons/picture-in-picture-seekBackward-button.svg") !important;
	}

	#seekForward {
		background-image: url("neptune/icons/picture-in-picture-seekForward-button.svg") !important;
	}
}

.pointerlockfswarning {
	background-color: var(--neptune-popover-background) !important;
	padding: var(--space-small) !important;
	border: none !important;
	box-shadow: none !important;

	> #fullscreen-exit-button {
		appearance: none !important;
		background-color: var(--neptune-content-background) !important;
		border: none !important;
		border-radius: var(--toolbarbutton-border-radius) !important;
	}

	> .pointerlockfswarning-domain-text {
		font-size: 1.25em !important;
		margin-inline: var(--space-small) !important;
	}
}
