@media (prefers-color-scheme: dark) {
	:root {
		/* --- Browser --- */
		--poseidon-main-background: #383838;
		--poseidon-content-background: #262626;
		--theme-primary-color: color-mix(in srgb, accentcolor 80%, #060606);
		--theme-primary-hover-color: color-mix(in srgb, accentcolor 85%, #121212);
		--theme-primary-active-color: color-mix(in srgb, accentcolor 85%, #565656);

		/* --- Toolbars --- */
		--poseidon-toolbar-background: var(--lwt-accent-color);
		--poseidon-toolbar-border-color: color-mix(in srgb, currentColor 18%, transparent);
		--poseidon-input-bgcolor: color-mix(in srgb, currentColor 14%, transparent);
		--poseidon-input-outline-color: color-mix(in srgb, accentcolor 50%, #646464);
		--poseidon-slider-color: #cacaca;
		--poseidon-slider-track-color: color-mix(in srgb, currentColor 25%, transparent);
		--poseidon-checkbox-border: 1px solid #6a6a6a;
		--poseidon-checkbox-shadow: inset 0 0 5px #ffffff33;
		--poseidon-item-background: color-mix(in srgb, currentColor 12%, transparent);
		--poseidon-item-hover-background: color-mix(in srgb, currentColor 14%, transparent);
		--poseidon-item-active-background: color-mix(in srgb, currentColor 16%, transparent);
		--poseidon-item-selection-background: color-mix(in srgb, accentcolor 45%, transparent);
		--poseidon-item-selection-hover-background: color-mix(in srgb, accentcolor 25%, transparent);
		--poseidon-button-field-color: color-mix(in srgb, currentColor 70%, transparent);
		--poseidon-button-field-hover-color: color-mix(in srgb, currentColor 85%, transparent);

		/* --- Sidebar --- */
		--poseidon-sidebar-box-background: color-mix(in srgb, currentColor 7%, transparent);
		--poseidon-sidebar-border-color: color-mix(in srgb, currentColor 10%, transparent);

		/* --- Popups --- */
		--poseidon-menu-background: #323232;
		--poseidon-popover-background: #32323266;
		--poseidon-popover-separator-color: color-mix(in srgb, currentColor 15%, transparent);
		--poseidon-small-shadow: 0 0 1px color-mix(in srgb, currentColor 55%, transparent);
		--poseidon-menu-shadow: 0 1px 8px #00000016, 0 5px 15px #00000011, 0 8px 20px #00000011, 0 3px 22px #00000019;
		--poseidon-menu-shadow-color: #00000033;
		--poseidon-panel-shadow: 0 1px 8px #00000016, 0 5px 15px #00000011, 0 8px 20px #00000011;
		--poseidon-panel-shadow-color: #00000019;

		/* --- Urlbar --- */
		--poseidon-urlbar-background: color-mix(in srgb, currentColor 14%, transparent);
		--poseidon-urlbar-hover-background: color-mix(in srgb, currentColor 18%, transparent);
		--poseidon-urlbar-focused-background: color-mix(in srgb, currentColor 20%, transparent);
		--poseidon-urlbarView-hover-background: color-mix(in srgb, accentcolor 85%, #121212);
		--poseidon-urlbarView-button-background: color-mix(in srgb, accentcolor 70%, #646464);
		--poseidon-focused-urlbar-highlight-color: color-mix(in srgb, accentcolor 85%, #323232);

		/* --- Tabs --- */
		--poseidon-tab-background: color-mix(in srgb, currentColor 14%, transparent);
		--poseidon-tab-hover-background: color-mix(in srgb, currentColor 18%, transparent);
		--poseidon-tab-active-background: color-mix(in srgb, currentColor 20%, transparent);
		--poseidon-tab-unloaded-background: color-mix(in srgb, currentColor 8%, transparent);
		--poseidon-tab-selected-background: color-mix(in srgb, accentcolor 30%, transparent);
		--poseidon-verticaltab-background: color-mix(in srgb, currentColor 4%, transparent);
		--poseidon-verticaltab-pinned-background: color-mix(in srgb, currentColor 8%, transparent);
		--poseidon-verticaltab-hover-background: color-mix(in srgb, currentColor 10%, transparent);
		--poseidon-tab-soundplaying-background: color-mix(in srgb, accentcolor 25%, transparent);
		--poseidon-verticaltab-soundplaying-background: color-mix(in srgb, accentcolor 15%, transparent);
	}
}
