/* =========================== */
/*  Shimmer Findbar Variables  */
/* =========================== */

/*! === findbar === */

findbar {
    border: 0 !important;
    /*? relative for margins */
    position: relative !important;
    border-radius: 12px !important;
    bottom: 60px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40rem !important;
    height: 3rem !important;
    display: flex !important;
    align-items: center !important;
    /*? fix for relative positioning */
    margin-top: -3rem !important;
    border: 0 !important;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    overflow-x: visible !important;
    box-shadow: 0 0 0px 1px var(--lwt-accent-color) !important;
}

findbar[hidden]{
    margin-bottom: 0 !important;
    opacity: 0 !important;
    background: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

findbar:not([hidden]) {
    opacity: 1 !important;
    background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.findbar-container, .findbar-container > hbox {
    height: 100% !important;
}

.findbar-container {
    margin-left: 7px !important;
}

/*? change text to icons for smaller findbar */
.findbar-container checkbox::after {
    height: 16px;
    font-size: 14px;
    background-size: cover;
    display: flex;
    align-items: center;
    -moz-context-properties: fill;
    fill: currentColor;
    color: inherit;
}
.findbar-highlight::after {
    content: '';
    background: url(./assets/icons/hl.svg) no-repeat;
    width: 18px;
    background-position-y: -1px;
}
.findbar-match-diacritics::after {
    content: 'ąâ';
    font-weight: 600;
}
.findbar-entire-word::after {
    content: '';
    background: url(./assets/icons/word.svg) no-repeat;
    width: 20px;
    background-position-y: -2px;
}
.findbar-case-sensitive::after {
    content: 'Aa';
    font-weight: 600;
}

/*? hide all text for findbar checkboxes */
.findbar-container checkbox > .checkbox-label-box {
    display: none !important;
}

.findbar-textbox {
    border-radius: 8px !important;
    font-family: monospace !important;
    padding: 5px 8px !important;
    width: 12rem !important;
}

.findbar-closebutton:hover {
    opacity: 1 !important;
    background: var(--toolbarbutton-hover-background) !important;
}
.findbar-closebutton {
    opacity: 1 !important;
    /* background: var(--lwt-accent-color) !important; */
    /* wasn't square for some reason */
    width: auto !important;
}
.findbar-closebutton image {
    width: 16px;
    height: 16px;
    padding: 2px;
}

/*? move matched amount below main findbar */
.found-matches {
    position: absolute !important;
    padding: 1.8rem 0.7rem 0.2rem 0.6rem !important;
    top: 14px !important;
    background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
    /* border: solid var(--arrowpanel-border-color) 1px !important; */
    left: -12px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    z-index: 9 !important;
    box-shadow: 0 0 0px 1px var(--lwt-accent-color);
    clip-path: inset(0 -10px -5px -5px);
}
.findbar-find-status {
    display: none !important;
}
.found-matches::before {
    z-index: 8 !important;
}
.found-matches::after {
    position: absolute;
    display: block;
    content: '';
    width: 1rem;
    height: 1.5rem;
    background: var(--toolbar-bgcolor, var(--toolbar-non-lwt-bgcolor)) !important;
    right: -0.5rem;
    top: 0.8rem;
    transform: rotate(45deg);
    box-shadow: 0 0 0px 1px var(--lwt-accent-color);
    clip-path: inset(0 -0.3rem 0 0);
}
.findbar-textbox { 
    z-index: 10 !important;
}