Extension Buttons Height Match Navbar
Yellow Bookmark Star
Remove Firefox View Button
Remove Border Below Sidebery "Tabs" Text
Remove Border Around tabbox 
Fix Unreadable Dropdown Text

/* === Extension Buttons Height Match Navbar === */
#nav-bar-customization-target toolbarbutton {
	height: 100% !important;
}

#urlbar {
	margin: 0 !important;
}



/* === Yellow Bookmark Star === */
#star-button[starred="true"] {
	fill: #f7e617 !important;
	stroke: #000 !important;
	stroke-width: 2px !important;
	filter: drop-shadow(0px 0px 0.5px #000) !important;
}



/* === Remove Firefox View Button === */

@media (-moz-bool-pref: "shimmer.remove-firefox-view-button") {
	#firefox-view-button {
		display: none !important;
	}
}


/* === Remove the Ugly === */
/* Remove Border Below Sidebery "Tabs" Text  */
#sidebar-header {
	border-bottom: 0 !important;
}

@media (-moz-bool-pref: "shimmer.native-vertical-tabs") {
	:root:not([chromehidden*="menubar toolbar directories extrachrome"]):not([inDOMFullscreen]) #tabbrowser-tabbox, :root:not([inDOMFullscreen]) #sidebar-main {
		margin-bottom: var(--shimmer-top-bottom-browser-margin) !important;
	}
}
@media not (-moz-bool-pref: "shimmer.native-vertical-tabs") {
	:root:not([chromehidden*="menubar toolbar directories extrachrome"]):not([inDOMFullscreen]) #sidebar-box:not([hidden]), :root:not([inDOMFullscreen]) #sidebar-box:not([hidden]) ~ #tabbrowser-tabbox {
		margin-bottom: var(--shimmer-top-bottom-browser-margin) !important;
	}
}

#sidebar-splitter {
	--sidebar-splitter: var(--shimmer-sidebar-splitter-width) !important;
	width: var(--sidebar-splitter) !important;
	min-width: var(--sidebar-splitter) !important;
	background: rgba(0, 0, 0, 0) !important;
	border: 0 !important;
	margin: 0 !important;
}

@media not (-moz-bool-pref: "shimmer.show-sidebar-header-close-button") {
	#sidebar-close {
		display: none !important;
	}
}

#sidebar-close {
	margin-right: 10px !important;
}

/* Remove Border Around tabbox */
#tabbrowser-tabbox * {
	border: 0 !important;
}



/* === Fix Unreadable Dropdown Text === */

/* Dropdown Text */
#ContentSelectDropdown * {
	color: var(--lwt-text-color) !important;
}

/* Disabled Dropdown Text */
#ContentSelectDropdownPopup menuitem[disabled] {
	background: color-mix(in srgb, var(--lwt-accent-color) 60%, var(--lwt-text-color)) !important;
}