/* ======================= */
/*   Shimmer UI Variables  */
/* ======================= */

/* --- userChrome.css --- */

/* urlbar border radius */
:root {
    --shimmer-urlbar-rounding: 16px;
    --shimmer-urlbar-inner-rounding: calc(var(--shimmer-urlbar-rounding) * .75);
}

/* --- rounded urlbar and box --- */
:root[chromehidden*="menubar toolbar directories extrachrome"] #urlbar-background { 
    background: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
}
:root:not([chromehidden*="menubar toolbar directories extrachrome"]) #urlbar-background { 
    background: var(--toolbar-field-background-color) !important;
    border: 1px solid var(--toolbar-field-border-color) !important;
}
#urlbar-background {
    border-radius: var(--shimmer-urlbar-rounding) !important;
    transition: all 0.1s linear !important;
}

/* ---  rounded buttons inside urlbar --- */
#identity-box > box, #tracking-protection-icon-container, #page-action-buttons > *, #urlbar-revert-button-container, #urlbar-searchmode-switcher {
    border-radius: var(--shimmer-urlbar-rounding) !important;
}

/*--- needed for popup transition to work --- */
#urlbar {
    margin-top: 0 !important;
}

/* --- make the background of extended urlbar move down and BROKEN drop a blur behind --- */
@media not (-moz-bool-pref: "shimmer.disable-popover-urlbar") {
    #urlbar[breakout-extend] {
        position: fixed !important;
        margin-top: 12vh !important;
        /* backdrop-filter: blur(8px) !important; */
        background: rgba(0, 0, 0, 0) !important;
        /* border-radius: 20px; */
    }  
}

#urlbar[breakout-extend] #urlbar-background {
    background: var(--toolbar-field-focus-background-color) !important;
}

/* --- urlbox backdrop --- */
#urlbar[breakout-extend]::before{
    content: '' !important;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    pointer-events: none !important;
    overflow: hidden !important;
    top: 0 !important;
    left: 0 !important;
    background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 65%, rgba(0, 0, 0, 0)) !important;
}

/* --- urlbar bigger text --- */
#urlbar[breakout-extend] #urlbar-input {
    font-size: 1.4rem !important;
}

/* --- taller urlbar for bigger text when extended --- */
#urlbar[breakout-extend] .urlbar-input-container {
    height: 48px !important;
}

@media (max-width: 600px) {
    #urlbar[breakout-extend] #urlbar-input {
        font-size: 1.25rem !important;
    }
}

/* --- Centered text when urlbar not in use --- */
#urlbar:not(:is([breakout-extend])) #urlbar-input {
    text-align: center !important;
}

/* --- hide search one offs --- */
@media not (-moz-bool-pref: "shimmer.show-search-one-offs") {
    .search-one-offs {
        display: none !important;
    }
}

/* --- fix for floating urlbar --- */
@media (-moz-bool-pref: "shimmer.nightly") { 
    #urlbar:not([breakout-extend]) {
        top: auto !important;
    }
}

/* --- hide 1px line below urlbar --- */
.urlbarView-body-inner {
    border-top: none !important;
}

/* --- if popup window, make urlbar smaller and centered --- */
#main-window[chromehidden*="toolbar"] #urlbar-container {
    max-width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* --- make the go button bigger in urlbar --- */
.urlbar-go-button {
    height: 100% !important;
    width: auto !important;
    padding: 1.5% !important;
    border-radius: var(--shimmer-urlbar-inner-rounding) !important;
}

/* --- rounded results --- */
.urlbarView-row {
    border-radius: var(--shimmer-urlbar-inner-rounding) !important;
}

/* --- for some reason the results get clipped so adding some padding --- */
.urlbarView {
    padding: 0 5px !important;
}

.urlbarView-row:hover {
    background: var(--urlbar-box-hover-bgcolor) !important;
}

.urlbarView-body-outer::before {
    content: '';
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background: #aaa;
    opacity: 0.2;
    display: block;
    mix-blend-mode: difference;
}
.urlbarView-body-inner {
    border: 0 !important;
}

/* --- increase padding in urlbar --- */
#urlbar-results {
    padding-bottom: 8px !important;
}

/* --- add margin to left of browser when sidebar hidden --- */
#sidebar-box[hidden="true"] ~ #tabbrowser-tabpanels {
    padding-left: 3px !important;
}

/* --- userContent.css --- */

:root {
  --shimmer-urlbar-rounding: 100px;
}


