/* Poseidon - urlbar.css */

/* Variables */
:root {
  --urlbar-min-height: 24px !important;
  --urlbarView-item-inline-padding: calc(1px + var(--uc-urlbar-inline-padding) + var(--uc-urlbar-icon-inline-padding)) !important;
  --urlbar-icon-border-radius: 99px !important;
  --urlbar-icon-padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
  --urlbar-margin-inline: 2px !important;
  --identity-box-margin-inline: 6px !important;
  --uc-urlbar-icon-inline-padding: calc(var(--uc-toolbarbutton-inner-inline-padding));
  --uc-urlbar-inline-padding: 6px;
  --uc-urlbar-block-padding: 6px;
  --uc-urlbar-shadow: 0 0 0px rgb(0 0 0 / .1);
  --urlbarView-rich-suggestion-default-icon-size: 32px !important;
  --uc-urlbar-open-border-radius: 8px !important;

  /* urlbar height */
  & #urlbar-container {
    --urlbar-container-height: calc(8px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
  }

  & #urlbar {
    --urlbar-toolbar-height: calc(5px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-min-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
    font-size: 1em !important;
  }

  /* Spacing for urlbar suggestion icons. */
  .urlbarView-row {
    --urlbarView-icon-margin-start: 0px !important;
    --urlbarView-icon-margin-end: calc(var(--uc-urlbar-icon-inline-padding) + var(--identity-box-margin-inline)) !important;
  }
}

/* Appearance for URL bar. */
#urlbar-background,
#searchbar {
  border-radius: calc(var(--urlbar-icon-border-radius) + 2px) !important;
  border-color: transparent !important;

  /* Shadow for URL bar, only appears in light mode. */
  :root:not(:-moz-lwtheme) #nav-bar:not([brighttext]) & {
    box-shadow: var(--uc-urlbar-shadow, none);
  }

  /* Appearance when the URL bar is expanded. */
  #urlbar[open] & {
    border-radius: var(--uc-urlbar-open-border-radius) !important;
    border-color: transparent !important;
    outline: 0px solid var(--arrowpanel-border-color) !important;

    &:not(:-moz-lwtheme) {
      outline-color: transparent !important;
    }
  }
}

/* Add padding to sides of URL bar. */
#urlbar-input-container,
#searchbar {
  padding-inline: var(--uc-urlbar-inline-padding) !important;
}

#urlbar #urlbar-input {text-align: center !important}
#urlbar-background {background: transparent !important;}

#nav-bar[urlbar-exceeds-toolbar-bounds="true"] #urlbar-background {background: var(--arrowpanel-background) !important;}
#urlbar[focused=""] > #urlbar-background {background: var(--arrowpanel-background) !important;}

/* URL bar suggestions container. */
.urlbarView {
  margin-top: 2px !important;
  margin-inline: 0 !important;
  width: 100% !important;
  border-inline: 0 !important;
  padding-block: 0 !important;
  background: var(--arrowpanel-background) !important;
  border-radius: 0 0 8px 8px !important;


  & .urlbarView-body-inner {
    width: 100% !important;
    margin-inline: 0 !important;
  }

  /* Remove padding from top of URL bar results, not needed as URL bar input already has padding. */
  & .urlbarView-results {
    padding-block-start: 0 !important;
  }
}

/* URL bar item. */
.urlbarView-row {
  padding-block: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  margin-inline: 2px !important;
  
  /* Vertically align search suggestion thumbnail images. */
  &[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    margin-inline-start: calc(var(--urlbarView-icon-margin-start) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2) !important;
    margin-inline-end: calc(var(--urlbarView-icon-margin-end) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2) !important;
  }
}

/* Keep URL bar in place when expanding. */
#urlbar[breakout][breakout-extend] {
  /* Firefox < v133 */
  &:not([style*="--urlbar-width"]) {
    left: 0 !important;
    width: 100% !important;
  }
  /* Firefox >= v133 */
  &[style*="--urlbar-width"] {
    margin-left: 0 !important;
    width: var(--urlbar-width) !important;
  }
}

/* Search engine selector */
.search-one-offs:not([hidden]) {
  padding-block: 6px !important;

  & .searchbar-engine-one-off-item {
    min-width: 30px !important;
    height: 30px !important;
  }

  .urlbarView:not([noresults]) > & {
    border-color: var(--urlbarView-separator-color) !important;
  }

  #urlbar-anon-search-settings {
    margin-inline-end: 8px !important;
  }
}

/* Search engine indicator. */
#urlbar-search-mode-indicator {
  :root:not(:-moz-lwtheme) & {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
  }

  & #urlbar-search-mode-indicator-title {
    font-size: 0.9em !important;
  }
}

/* Remove border between URL bar input and suggestions. */
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: 0 !important;
  align: center !important;
}

/* Buttons inside the URL bar. */
.urlbar-page-action,
#urlbar-go-button,
.search-go-button,
#tracking-protection-icon-container,
#identity-icon-box {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
  width: calc(var(--uc-urlbar-icon-inline-padding) * 2 + 16px) !important;
}

/* Site information and Permissions buttons. */
#identity-icon-box,
#identity-permission-box,
.notification-anchor-icon {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
}

/* Zoom level and tab container indicators. */
#userContext-icons,
#urlbar-zoom-button {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
  margin-block: 0 !important;
  margin-inline: 0 !important;
  visibility: collapse !important;
}

/* Move tracking protection button. */
#tracking-protection-icon-container,
#page-action-buttons {
  order: 2 !important;
}

/* Show translation button on URL bar. */
#translation-button {
   hidden: false !important;
   display: flex !important;
   }


/* Pin icon for URL bar suggested sites. */
.urlbarView-row[pinned] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-type-icon {
  fill: var(--toolbar-field-color) !important;
}

#urlbar-input::placeholder,
.searchbar-textbox::placeholder {
  opacity: 0.6 !important;
}

/* Make the lock icon brighter in dark mode. */
#nav-bar[brighttext] #identity-box:not([pageproxystate="invalid"]) #identity-icon {
  fill-opacity: calc(var(--urlbar-icon-fill-opacity) * 1.8) !important;
}

/* Make the URL bar label opaque in light mode, matching the icons. */
#nav-bar:not([brighttext]) #identity-box #identity-icon-label {
  opacity: var(--urlbar-icon-fill-opacity) !important;
}

/* Label on the left of the URL bar, shown when viewing Firefox or extension pages. */
#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button {
  position: relative;
  width: unset !important;

  /* Spacing between the icon and label. */
  & #identity-icon-label {
  visibility: collapse !important;
  }

  /* Separator to the right of the label. */
  &::after {
    content: "";
    position: absolute;
    height: 16px;
    border-right: 0px solid currentColor;
    right: 0;
    inset-block: 0;
    margin-block: auto;
    opacity: 0;
  }

  /* Fractional scaling adjustments (150%, 175%, etc.) */
  @media (1dppx < resolution < 2dppx) {
    &::after {
      border-right-width: 1.5px !important;
    }
  }

  /* Remove background from urlbar box. */
  &:not(:hover, [open]) {
    background-color: transparent !important;

    /* Separator opacity */
    &::after {
      opacity: 0;
    }
  }

  /* Fade transition for separator. */
  @media not (prefers-reduced-motion) {
    &::after {
      transition: opacity 0.2s ease;
    }
  }
}

/*---------- Urlbar ----------*/
#urlbar-container {
	width: max(320px, 28em) !important;
	padding: 0 !important;
}

#search-container {
	flex-grow: 100 !important;
	padding: 0 !important;
}

#searchbar,
#urlbar-background {
	background-color: var(--neptune-urlbar-background) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;
	box-shadow: none !important;
	transition: background-color .2s ease;

	@media (-moz-bool-pref: "sidebar.verticalTabs") {
		background: none !important;
		border: 1px solid var(--neptune-toolbar-border-color) !important;
	}
}

#urlbar {
	height: var(--urlbar-height) !important;
	width: var(--urlbar-width) !important;
	margin: 0 !important;
	font-size: 12.5px !important;

	> .urlbar-input-container {
		padding: 0 !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;

		@media (-moz-bool-pref: "sidebar.verticalTabs") {
			> .urlbar-input-box > .urlbar-input {
				text-align: center !important;

				#urlbar:is([focused], [open]) & {
					text-align: revert !important;
				}
			}
		}

		> #urlbar-search-mode-indicator {
			margin-inline: 0 !important;
			padding-inline: var(--urlbar-icon-padding) !important;
			font-size: 10.5px;
		}

		> #urlbar-searchmode-switcher {
			margin-inline: 0 !important;

			&[open] {
				background-color: var(--neptune-item-active-background) !important;
			}
		}

		> #searchmode-switcher-chicklet {
			margin-inline: 0 !important;
			font-size: 10.5px;

			> #searchmode-switcher-close {
				margin-inline: var(--urlbar-icon-padding) !important;
			}
		}
	}

	@media not (-moz-bool-pref: "sidebar.verticalTabs") {
		&:hover > #urlbar-background {
			background-color: var(--neptune-urlbar-hover-background) !important;
		}
	}

	&:is([focused], [open]) > #urlbar-background {
		background-color: var(--neptune-urlbar-focused-background) !important;

		@media (-moz-bool-pref: "sidebar.verticalTabs") {
			background-color: var(--neptune-verticaltab-background) !important;
		}
	}
}

.urlbarView {
	color-scheme: light dark;
	width: calc(100% + 16px) !important;
	margin: 5px 0 0 -8px !important;
	border: none !important;
	border-radius: calc(var(--border-radius-medium) + 2px);
	background-color: var(--theme-menupopup-background);
	color: MenuText;
	box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;

	> .urlbarView-body-outer > .urlbarView-body-inner {
		width: inherit !important;
		margin-inline: 0 !important;
		border: none !important;
	}
}

.urlbarView-results {
	padding: var(--urlbarView-item-block-padding) !important;

	> .urlbarView-row {
		border: var(--button-border) !important;

		> .urlbarView-row-inner {
			flex-wrap: nowrap !important;
			align-items: center !important;
			padding: 0 !important;

			> .urlbarView-no-wrap {
				flex-basis: revert !important;
			}

			.urlbarView-title {
				line-height: 1.28 !important;
			}

			:is(.urlbarView-overflowable, .urlbarView-url)[overflow] {
				mask-image: none !important;
				text-overflow: ellipsis;
			}

			> .urlbarView-action-btn {
				padding-block: 2px !important;
				border: none !important;
				outline: none !important;
				color: var(--button-text-color-primary);
			}
		}

		&[has-url]:not([type$=tab]) > .urlbarView-row-inner > .urlbarView-no-wrap {
			max-width: calc(70% - 2 * (var(--urlbarView-favicon-width) + (6px + 2px))) !important;
		}

		&[has-url] > .urlbarView-row-inner > .urlbarView-url {
			margin-inline: revert !important;
			line-height: 1.333 !important;
		}

		&[has-url]:not([type$=tab], [sponsored], [restyled-search]) .urlbarView-title-separator {
			display: revert !important;
		}

		&[row-selectable]:not([selected]):hover {
			color: var(--urlbarView-highlight-color);

			.urlbarView-url {
				color: inherit !important;
			}
		}

		&:not([type=tip], [type=dynamic]) {
			:root:not([uidensity=compact]) & {
				min-height: 22px !important;
			}
		}

		&[type=tip] {
			padding-block: var(--urlbarView-item-block-padding) !important;

			> .urlbarView-row-inner {
				margin-inline-end: 0 !important;
			}

			> .urlbarView-button:not(:empty):not(.urlbarView-button-menu) {
				padding-block: var(--space-xsmall) !important;
				outline: none !important;
				border-radius: var (--border-radius-small) !important;
			}
		}

		&[rich-suggestion][type=search] {
			:root:not([uidensity=compact]) & {
				min-height: fit-content !important;
			}
		}

		.urlbarView-favicon {
			margin-inline-end: calc(var(--urlbarView-icon-margin-end) - var(--urlbarView-favicon-margin-start) - 1px) !important;
		}

		&[rich-suggestion] > .urlbarView-row-inner {
			> .urlbarView-favicon {
				width: 24px !important;
				height: 24px !important;
			}

			> .urlbarView-row-body > :is(.urlbarView-row-body-description, .urlbarView-row-body-bottom) {
				color: var(--urlbarView-highlight-color);
			}
		}

		&[dynamicType=onboardTabToSearch] > .urlbarView-row-inner {
			min-height: fit-content !important;

			> .urlbarView-no-wrap > .urlbarView-favicon {
				height: 16px !important;
				min-width: 16px !important;

				.urlbarView-row:hover & {
					color: var(--urlbarView-highlight-color) !important;
				}
			}
		}

		&[has-action]:is([type=switchtab], [type=remotetab], [type=clipboard]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
			padding: 1px 5px !important;
			margin-block: auto !important;
			border: none !important;
			background-image: none !important;
			background-color: var(--theme-primary-active-color) !important;
			color: var(--button-text-color-primary) !important;

			&.urlbarView-userContext {
				background-color: var(--identity-tab-color) !important;
			}
		}

		> .urlbarView-button:not(.urlbarView-row[type=tip] > .urlbarView-button) {
			background-color: transparent !important;
			min-width: 16px !important;
			min-height: 16px !important;

			.urlbarView-row:is([row-selectable]:hover, [selected]) > &:not(:hover, [open]) {
				color: var(--color-blue-05) !important;
			}

			&:is(:hover, [open]) {
				color: revert !important;
			}
		}
	}

	[label]::before {
		color: MenuText !important;
	}

	.urlbarView-title-separator::before {
		content: "\2013" !important;
	}

	.urlbarView[noresults] > .urlbarView-body-outer > .urlbarView-body-inner > & {
		padding: 0 !important;
	}
}

.search-one-offs {
	padding: var(--urlbar-icon-padding) !important;

	> .search-panel-header {
		min-height: var(--button-min-height) !important;

		> .search-panel-one-offs-header-label {
			padding-inline: var(--space-small) !important;
		}
	}

	.searchbar-engine-one-off-item {
		min-width: var(--button-min-height) !important;
		height: var(--button-min-height) !important;
		margin-inline: var(--urlbar-icon-padding) !important;

		&:is(:not([selected]):hover, [selected]) {
			background-color: var(--neptune-item-active-background) !important;
		}
	}
}

#identity-box:is([pageproxystate="valid"], [pageproxystate="invalid"]) > .identity-box-button,
#urlbar-label-box {
	padding-inline: var(--urlbar-icon-padding) !important;
}

@media not (-moz-bool-pref: "sidebar.verticalTabs") {
	#identity-permission-box,
	#notification-popup-box,
	#tracking-protection-icon-container {
		margin-inline-start: calc(-12px - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		opacity: 0;
		transition: .2s ease;

		&:is(.urlbar-input-container:hover &, [open]) {
			margin-inline-start: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	.urlbar-page-action:not(#reader-mode-button[readeractive], #picture-in-picture-button[pipactive], #translations-button[translationsactive]) {
		margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		transition: .2s ease;

		&:is(.urlbar-input-container:hover &, [open]) {
			margin-inline-end: 0;
			visibility: visible;
		}
	}
}

#identity-box {
	margin: 0 !important;
	fill-opacity: 0.6 !important;

	&[pageproxystate="valid"] > .identity-box-button {
		background: none !important;

		&:hover:not([open]) {
			fill-opacity: 0.8;
		}

		&:is(:hover:active, [open]) {
			fill-opacity: 1;
		}
	}
}

#notification-popup-box {
	background: none !important;
	height: auto !important;
	fill-opacity: 0.6 !important;

	> * {
		height: calc(var(--urlbar-min-height) - 2 * var(--urlbar-icon-padding));
	}

	&:hover {
		fill-opacity: 0.8 !important;
	}

	&:is(:hover:active, [open]) {
		fill-opacity: 1 !important;
	}
}

.urlbar-page-action,
.urlbar-revert-button,
.urlbar-go-button,
.search-go-button {
	background: none !important;
	height: auto !important;
	color: var(--neptune-button-field-color) !important;

	&:not([disabled]):hover {
		color: var(--neptune-button-field-hover-color) !important;
	}

	&:not([disabled]):is(:hover:active, [open]) {
		color: revert !important;
	}
}

#urlbar-zoom-button {
	margin-inline: 2px !important;
	padding-block: 2px !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#tracking-protection-icon-box,
#blocked-permissions-container > .blocked-permission-icon,
.urlbarView-action-btn > img,
#searchmode-switcher-icon,
#searchmode-switcher-popup-search-settings-icon,
.urlbar-input-container [id$="close"],
.searchbar-search-icon,
.searchbar-engine-one-off-item > .button-box > .button-icon {
	width: 12px !important;
	height: 12px !important;
}
